body
{
  background-image:url('back3.jpg');
  background-size: 1440px 1490px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  font-family: sans-serif;
}

#me {
  width: 287px;
  height: 300px;
  overflow: hidden;
  margin: 20px auto;
  border-style: solid;
  border-radius: 30px;
  border-width: 6px;
  border-color: rgba(0, 0, 0, 0.35);
}

#links {
 width: 168px;
 height: 33px;
 margin: 20px auto;
}

#about .shadow {
  width: 60px;
  height: 25px;
  text-align: center;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.35);
  float: left;
  border-radius: 9px;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 3px;
  border-style: solid;
}

#about .shadow:hover {
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}


#portfolio .shadow {
  width: 75px;
  height: 25px;
  text-align: center;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.35);
  float: left;
  margin-left: 20px;
  border-radius: 9px;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 3px;
  border-style: solid;
}

#portfolio .shadow:hover {
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #b2dbb8;
  text-decoration: none;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#txt {
  color: white;
  line-height: 45px;
  width: 900px;
  margin: 35 auto;
  text-align: center;
  width: 900px;
}

#linksMore {
  width: 480px;
  height: 33px;
  margin: 0px auto;
}

#resume .shadow {
  width: 72px;
  height: 25px;
  text-align: center;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.35);
  float: left;
  border-radius: 9px;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 3px;
  border-style: solid;
  margin-right: 20px;
}

#resume .shadow:hover {
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#email .shadow {
  width: 60px;
  height: 25px;
  text-align: center;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.35);
  float: left;
  border-radius: 9px;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 3px;
  border-style: solid;
}

#email .shadow:hover {
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}


#github .shadow {
  width: 75px;
  height: 25px;
  text-align: center;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.35);
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 9px;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 3px;
  border-style: solid;
}

#github .shadow:hover {
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#linkedin .shadow {
  width: 80px;
  height: 25px;
  text-align: center;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.35);
  float: left;
  border-radius: 9px;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 3px;
  border-style: solid;
}

#linkedin .shadow:hover {
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#twitter .shadow {
  width: 80px;
  height: 25px;
  text-align: center;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.35);
  float: left;
  border-radius: 9px;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 3px;
  border-style: solid;
  margin-left: 20px;
}

#twitter .shadow:hover {
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
@media (max-width:600px) {

  body {
    overflow: scroll;
  }

  #txt {
  width: 300px;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 30px;
  }

  #links {
    margin: 0px;
  }

  #about .shadow {
    display:none;
  }

  #linksMore {
  width: 320px;
  margin-bottom: 10px;
  margin-top: 0px;
}
#resume .shadow{
    margin: 0px;
    display: none;
  }

  #email .shadow{
    margin: 0px;
  }

  #github .shadow {
    margin: 0px;
  }

  #linkedin .shadow{
    margin: 0px;
  }

  #twitter .shadow{
    margin: 0px;
  }

}

